/* Title + sub text */
.banner {
    text-align: center;
    padding: 30px;
    line-height: 90%;    
}

/* Makes the header and logo inline */
.header-logo > img, .header-logo > h1{
  display: inline;
}

.header-logo > img {
  margin-bottom: 16px;
}

/* centered navigation */
.nav.navbar-nav {
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
.nav.navbar-nav > li {
  position: relative;
  right: 50%;
}
.nav.navbar-nav li {
 text-align: left
}



li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #D3D3D3;
    color: black;
}

/* header background */
.site-header  {
    background-color:#EAE7DC
}

