/* Title + sub text */
.banner {
    text-align: center;
    padding: 30px;
    line-height: 90%;    
}

li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #D3D3D3;
    color: black;
}

/* header background */
.site-header  {
    background-color:#EAE7DC
}



/* Navigation bar 
.navi li a:link, a:visited {
    text-decoration: none;
    color: black;
}

.navi li a:hover {
    background-color: #DEB887;
}

.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    background-color:#FAEBD7;
}

.navi li {
    float: left;
}

.navi li a {
    display: block;
    padding: 14px 16px;
}
*/


